.line {
  background-color: #70e61c;
  border: #70e61d;
  height: 3px;
  width: 3em;
  position: relative;
  top: 2em;
}

.pf-display {
  display: flex;
}

.portfolio-grid {
  display: flex;
  gap: 33px;
}

.portfolio-card {
  padding: 1pc;
  border: 1px solid #70e61c;
  border-radius: 10px;
  display: flex;
  align-items: center;

  img {
    width: 480px;
    object-fit: contain;
    height: 340px;
  }
}
