.line {
  background-color: #70e61c;
  border: #70e61d;
  height: 3px;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  padding: 3em;
}

.social-link {
  display: flex;
  gap: 1em;
  img {
    transition: transform 300ms ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.legal-notice {
  display: flex;
  flex-direction: column;

  span {
    font-size: clamp(1.5rem, 2vw, 6rem);
  }

  a {
    font-size: clamp(0.8rem, 1vw, 2rem);
  }
}
.copyright {
  font-size: clamp(0.8rem, 1vw, 2rem);
}
