.footer {
  &__line {
    height: 3px;
    border: #70e61d;
    background-color: #70e61c;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 3em;
  }

  &__social-links {
    display: flex;
    gap: 1em;
  }

  &__social-icon {
    transition: transform 300ms ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__legal {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: clamp(1.5rem, 2vw, 6rem);
  }

  &__legal-link,
  &__copyright {
    font-size: clamp(0.8rem, 1vw, 2rem);
  }
}
