:root {
  --btn-color: #70e61c;
  --btn-hover-color: #9747ff;
  --fs-section-title: clamp(2.2rem, 1rem + 5vw, 6.8rem);
  --fs-text: clamp(1rem, 0.8rem + 0.5vw, 1.5rem);
  --container-max: 1440px;
  --flex-reverse: flex-direction: column-reverse;
  --breakpoint-mobile: 960px;
}
