.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  padding-bottom: clamp(1rem, 2vw, 2rem);

  background-image:
    url('/assets/img/hero/purple-shadow.webp'), url('/assets/img/hero/blue-shadow.webp');
  background-repeat: no-repeat;
  background-position:
    top left,
    right 1em;
  background-size:
    50% 55%,
    25% 60%;

  &__main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__subtitle-vert {
    display: flex;
    justify-content: center;
    margin: 0 0 1.6%;
    writing-mode: sideways-lr;
    font-size: clamp(1.4rem, 5.5vw, 8rem);
  }

  &__title-group {
    display: flex;
    flex-direction: column;
    line-height: clamp(1.8rem, 7.8vw, 10rem);
  }

  &__title {
    margin: 0;
    font-size: clamp(2.2rem, 9vw, 11rem);
  }

  &__role {
    margin: 0;
    color: #9747ff;
    font-size: clamp(1.3rem, 4.3vw, 6.5rem);
  }

  &__action {
    display: flex;
    justify-content: center;
    padding-top: clamp(2rem, 4vw, 5rem);
  }

  &__cta {
    padding: 0.5em 1em;
    border-radius: 4px;
    background-color: #70e61c;
    color: white;
    font-size: clamp(0.6rem, 0.5rem + 1.1vw, 2.2rem);
    transition:
      background-color 300ms ease,
      transform 300ms ease;

    &:hover {
      background-color: #9747ff;
      transform: scale(1.2);
    }
  }

  &__meta {
    display: flex;
    flex-shrink: 0;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: clamp(4rem, 24vw, 14rem);
  }

  &__social-content {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      right: calc(100% + 2em);
      width: 100vw;
      height: 3px;
      border-radius: 10px;
      background-color: #22c55e;
    }
  }

  &__social-links {
    display: flex;
    gap: 2em;
    width: clamp(1rem, 2.3vw, 3rem);
  }

  &__social-link {
    display: flex;
    align-items: center;

    img {
      width: clamp(21px, 2vw, 40px);
      transition: transform 300ms ease;
    }

    &:hover img {
      transform: scale(1.2);
    }
  }

  &__scroll {
    display: none;

    img {
      width: clamp(1rem, 2vw, 3rem);
    }
  }

  &__scroll-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
    writing-mode: vertical-rl;
    font-size: clamp(0rem, 1.4vw, 1.9rem);
  }
}

@media (min-width: 975px) {
  .hero {
    background-position:
      top left,
      right -4em;
    background-size:
      45% 100%,
      22% 80%;

    &__meta {
      padding-left: 6rem;
    }

    &__scroll {
      display: block;
    }
  }
}
