.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  background-image:
    url(/assets/img/hero/purple-shadow.webp), url(/assets/img/hero/blue-shadow.webp);
  background-repeat: no-repeat, no-repeat;
  background-position:
    top left,
    right -5em;
  background-size:
    30% 100%,
    20% 100%;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: clamp(1em, 9vh, 7em);
  }

  &__subtitle-vert {
    display: flex;
    writing-mode: sideways-lr;
    justify-content: center;
    font-size: clamp(1rem, 5.5vw, 8rem);
    margin: 1.5% 0 0 0;
  }

  &__title-group {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-top: 0;
    margin-bottom: -5%;
    font-size: clamp(1rem, 9vw, 11rem);
  }

  &__role {
    font-size: clamp(1rem, 4vw, 6.5rem);
    margin: 0;
    color: #9747ff;
  }

  &__action {
    display: flex;
    justify-content: center;
    padding-top: clamp(2rem, 4vw, 5rem);
  }

  &__cta {
    background-color: #70e61c;
    border-radius: 4px;
    padding: 0.5em 1em;
    font-size: clamp(0.5rem, 1.4vw, 2.2rem);

    color: white;
    transition: transform 300ms ease;

    &:hover {
      background-color: #9747ff;
      transform: scale(1.2);
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 5em;
  }

  &__line-content {
    display: flex;
    align-items: center;
  }

  &__space-line {
    height: 6px;
    width: clamp(17%, 17%, 30%);
    background-color: #22c55e;
    border-radius: 10px;
  }

  &__social-content {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      right: calc(100% + 2em);
      height: 6px;
      width: 100vw;
      background-color: #22c55e;
      border-radius: 10px;
    }
  }

  &__social-link {
    display: flex;
    align-items: center;

    img {
      transition: transform 300ms ease;
    }

    &:hover img {
      transform: scale(1.2);
    }
  }

  &__social-links {
    display: flex;
    gap: 2em;
    width: clamp(1rem, 2.3vw, 3rem);
  }

  &__scroll {
    img {
      width: clamp(1rem, 2vw, 3rem);
    }
  }

  &__scroll-text {
    display: flex;
    flex-direction: row;
    writing-mode: vertical-rl;
    align-items: center;
    gap: 10px;
    /* padding-right: 2em; */
    font-size: clamp(0rem, 1.4vw, 1.9rem);
    margin: 0;
  }
}

@media (max-width: 960px) {
  .hero {
    &__scroll {
      display: none;
    }

    &__role {
      font-size: clamp(1rem, 6.35vw, 8rem);
      margin: 0;
      color: #9747ff;
    }
  }
}
