section {
  height: 100vh;
  padding: 1em 5em;
}

h2 {
  font-size: 5rem;
}

li {
  &::marker {
    color: #6dd3f7;
  }
}

.about-card {
  border: solid white;
}

.about {
  display: flex;
  gap: 2em;
  flex-direction: column;
}

// .background-image-left {
//   background-image: url('/assets/img/Blue shadow.png');
// }
// .background-image-right {
//   background-image: url('/assets/img/Purple shadow.png');
//   background-position: unset;
//   width: 23pc;
//   height: 32pc;
// }
