section {
  padding: 5em 0;
  background-image:
    url(/assets/img/portfolio/blue_shadow.webp), url(/assets/img/portfolio/green_shadow.webp);
  background-repeat: no-repeat, no-repeat;
  background-position:
    top right,
    bottom left;
  background-size:
    25% 50%,
    23% 51%;
}

.line {
  background-color: #70e61c;
  border: #70e61d;
  height: 3px;
  width: 8%;
  position: relative;
  top: 2em;
}

h2 {
  font-size: var(--fs-section-title);
}

.project-display {
  display: flex;
}

.descri-project {
  padding-left: 2em;
}

.project-grid {
  display: flex;
  gap: 33px;
  flex-wrap: wrap;
}

.project-card {
  position: relative;
  overflow: hidden;
  border: 1px solid #70e61c;
  border-radius: 10px;
}

.project-image {
  width: 480px;
  height: 340px;
  object-fit: cover;
  display: block;
  transition: transform 0.35s ease;
}

.project-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111214a8;
  pointer-events: none;
  inset: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-actions {
  transform: translateY(20px);
  transition: transform 0.3s ease;
  position: absolute;
  bottom: 14em;
  display: flex;
  gap: 1em;
}

.project-btn {
  padding: 12px 22px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 700;
  background-color: #9747ff;

  &:hover {
    background-color: #70e61c;
  }
}

.live-btn {
  padding: 12px 22px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid #1cdae6;
  background: transparent;

  &:hover {
    background-color: #1cdae6;
  }
}

.project-card:hover .project-overlay {
  opacity: 1;
  pointer-events: auto;
}

.project-card:hover .project-actions {
  transform: translateY(0);
}

.project-card:hover .project-image {
  transform: scale(1.5);
}

.overlay-descr {
  position: absolute;
  display: flex;
  text-align: center;
  flex-direction: column;
  bottom: 0px;
  right: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 2em;
  background: white;
  color: black;

  h3 {
    color: #9747ff;
  }
  span {
    color: #70e61c;
  }
}
