header {
  background-color: #141d2f;
  display: flex;
  align-items: center;
  padding: 1em 3em;
  justify-content: space-between;

  a {
    font-size: 2rem;
  }

  ul {
    display: flex;
    gap: 1em;
  }

  button {
    background-color: #70e61c;
    border-radius: 4px;
    outline: solid 2px #70e61c;
    &:hover {
      background-color: #9747ff;
      outline: solid 2px #9747ff;
    }
  }
}
nav {
  display: flex;
  align-items: center;
  gap: 2em;
}
