.legal-page {
  &__back {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: clamp(0.75rem, 2vw, 2rem);
    font-size: clamp(2.2rem, 1rem + 4vw, 6rem);
    color: rgba(112, 230, 28, 1);
  }

  &__title::after {
    content: '';
    display: block;
    height: 0.25rem;
    border-radius: 999px;
    background-color: var(--btn-hover-color);
  }

  // &__title::before {
  //   flex: 0 0 clamp(2rem, 6vw, 6rem);
  // }

  &__title::after {
    flex: 1 0 0;
    margin-inline-end: calc(50% - 50vw);
  }

  &__container {
    padding: 1rem 1rem;
  }

  &__section p {
    font-size: var(--fs-text);
  }

  &__section-title {
    color: rgba(151, 71, 255, 1);
    font-size: clamp(1rem, 0.8rem + 1vw, 4rem);
  }

  &__highlight {
    color: rgba(151, 71, 255, 1);
  }
}
@media (min-width: 769px) {
  .legal-page {
    &__container {
      padding: 0rem 4rem 0rem 4rem;
    }
  }
}
