.line {
  background-color: #70e61c;
  border: #70e61d;
  height: 3px;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  padding: 3em;
}

.social-link {
  display: flex;
  gap: 1em;
}
