body {
  margin: 0;
  color: white;
  background-color: #141d2f;
}

section {
  height: 100vh;
}

a {
  text-decoration: unset;
  color: unset;
}

button {
  border: unset;
  color: white;
  cursor: pointer;
}
