header {
  background-color: #141d2f;
  display: flex;
  align-items: center;
  padding: 1em 3em;
  justify-content: space-between;
  z-index: 10;

  a {
    font-size: 2rem;
    &:hover {
      color: #70e61c;
    }
  }

  ul {
    display: flex;
    gap: 1em;
    li {
      display: unset;
    }
  }
}

button {
  background-color: transparent;
  border-radius: 4px;
  border: solid 2px #70e61c;

  &:not(.is-active-lang):hover {
    background-color: #9747ff;
    border-color: #9747ff;
  }

  &.is-active-lang {
    background-color: #70e61c;
    border-color: #70e61c;
  }
}

.lang-container {
  display: flex;
  gap: 10px;
}

.is-active {
  position: relative;
  color: #70e61c;
  font-size: clamp;

  &::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 55px;
    border-bottom: 2px solid #9747ff;
  }
}

.site-header {
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  gap: 4em;
}

.logo {
  font-weight: bold;
}

.logo-end {
  color: #9747ff;
}
