section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 16em;
}

.skills-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-icons {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(4, 1fr);
  gap: 4em;
  padding-left: 2em;
}

.title-line {
  position: relative;
  bottom: 1em;
  background-color: #70e61c;
  border: #70e61d;
  height: 3px;
  width: 4em;
}

.title-skills {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 7em;

  h2 {
    font-size: 6rem;
    margin: 0;
    margin-bottom: 40px;
  }
}
