.about {
  display: flex;
  align-items: center;
  padding-top: 3rem;

  background-image: url(/assets/img/about/bg.webp);
  background-repeat: no-repeat;
  background-position: 0 120%;
  background-size: 100% 30%;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0em 0em 6rem 6rem;
    gap: 2em;
    width: 70%;
  }

  &__title {
    font-size: var(--fs-section-title);
    white-space: nowrap;
  }

  &__lead {
    font-size: var(--fs-text);
    margin: 0;
  }

  &__card {
    display: flex;
    align-items: flex-start;
  }

  &__card-icon {
    padding: 0 0.8em 0 0;
    height: clamp(2em, 3.5vh, 5em);
  }

  &__card-text {
    margin-top: 0;
    font-size: var(--fs-text);
  }

  &__visual {
    background-image: unset;
    background-repeat: unset;
    background-position: unset;
    background-size: unset;
  }

  &__image-stack {
    background-image:
      url('/assets/img/about/purple_shadow.webp'), url('/assets/img/about/green_shadow.webp');
    background-repeat: no-repeat no-repeat;
    background-position:
      right center,
      left center;
    background-size:
      25rem 40rem,
      30rem 40rem;
    position: relative;
    z-index: -1;
  }

  &__portrait {
    display: flex;
    position: relative;
    bottom: 1em;
    width: 100%;
    // height: clamp(20em, 80vh, 80em);
    height: 58rem;
    object-fit: fill;
  }
}

@media (max-width: 960px) {
  .about {
    display: flex;
    flex-direction: column-reverse;

    background-image: unset;
    background-repeat: unset;
    background-position: unset;
    background-size: unset;

    &__content {
      margin-top: clamp(-1em, -6vh, -12em);
      padding: 0 1em 6em 1em;
      gap: 1em;
      width: unset;
    }

    &__card-icon {
      padding: 0 0.8em 0 0;
      height: clamp(2em, 7vh, 8em);
    }

    &__visual {
      display: block;
      background-image: url(/assets/img/about/bg-m.webp);
      background-repeat: no-repeat;
      background-position: 0% 115%;
      background-size: 100% 34%;
    }

    &__image-stack {
      background-image:
        url(/assets/img/about/purple_shadow.webp), url(/assets/img/about/green_shadow.webp);
      background-repeat: no-repeat;
      background-position:
        -10% 47%,
        110% 40%;
      background-size:
        60% 70%,
        70% 70%;
    }

    &__portrait {
      object-fit: cover;
      position: relative;
      bottom: 1.4em;
      right: unset;
      left: unset;
      width: 100%;
      height: unset;
    }
  }
}
