.about {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 3rem;

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: clamp(-1em, -6vh, -12em);
    padding: 0 1em 6em;
    gap: 1em;
  }

  &__title {
    font-size: var(--fs-section-title);
    white-space: nowrap;
  }

  &__lead {
    margin: 0;
    font-size: var(--fs-text);
  }

  &__card {
    display: flex;
    align-items: flex-start;
  }

  &__card-icon {
    height: clamp(2em, 7vh, 8em);
    padding-right: 0.8em;
  }

  &__card-text {
    margin-top: 0;
    font-size: var(--fs-text);
  }

  &__visual {
    display: block;
    background-image: url('/assets/img/about/bg-m.webp');
    background-repeat: no-repeat;
    background-position: 0 115%;
    background-size: 100% 34%;
  }

  &__image-stack {
    position: relative;
    z-index: -1;

    background-image:
      url('/assets/img/about/purple_shadow.webp'), url('/assets/img/about/green_shadow.webp');
    background-repeat: no-repeat, no-repeat;
    background-position:
      -10% 47%,
      110% 40%;
    background-size:
      60% 70%,
      70% 70%;
  }

  &__portrait {
    display: flex;
    position: relative;
    bottom: 1.4em;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (min-width: 961px) {
  .about {
    flex-direction: row;

    background-image: url('/assets/img/about/bg.webp');
    background-repeat: no-repeat;
    background-position: 0 120%;
    background-size: 100% 30%;

    &__content {
      margin-top: 0;
      padding: 0 0 6rem 4rem;
      gap: 2em;
      width: 70%;
    }

    &__card-icon {
      height: clamp(2em, 3.5vh, 5em);
    }

    &__visual {
      background-image: none;
    }

    &__image-stack {
      background-position:
        right center,
        left center;
      background-size:
        25rem 40rem,
        30rem 40rem;
    }

    &__portrait {
      bottom: 1em;
      height: 58rem;
      object-fit: fill;
    }
  }
}
