@use './styles/fonts';
@use './styles/variables';

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  background-color: #141d2f;

  font-family: 'Poppins', Arial, sans-serif;
}

a {
  text-decoration: unset;
  color: unset;
}

button {
  border: unset;
  color: white;
  cursor: pointer;
}

h2 {
  margin: 0;
}

.padding-container {
  padding: 0 2em;
}

.page-width {
  padding-inline: calc((100vw - 1440px) / 2);
}
